# Global snippets

# (c) holds no legal value ;)
snippet c)
	`&enc[:2] == "utf" ? "©" : "(c)"` Copyright `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date
	`strftime("%Y-%m-%d")`

# Some custom smarty snippets until I get around to 
snippet cfn
	{content_field name="${1}"}${2}
snippet cfv
	{content_field var=$${1}}${2}

